[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "==3.4.5.20"
pynmea2 = "*"
pigpio = "*"
smbus = "*"
pyserial = {git = "https://github.com/pyserial/pyserial.git"}

[requires]
python_version = "3.5"
